.yo-checkbox,
.yo-checkbox-group {
  font-size: var(--yo-font-size-base);
}

.yo-checkbox .ant-checkbox-inner,
.yo-checkbox-group .ant-checkbox-inner {
  border-radius: var(--yo-radius-sm);
}

.yo-checkbox.ant-checkbox-wrapper-disabled.yo-checkbox--disabled-strong .ant-checkbox + span,
.yo-checkbox-group.yo-checkbox-group--disabled-strong .ant-checkbox-wrapper-disabled .ant-checkbox + span {
  color: var(--yo-color-text-heading);
}
