.yo-button {
  border-radius: var(--yo-radius-base);
}

.yo-button--console {
  --yo-button-shadow-color: rgba(47, 107, 255, 0.2);
}

.yo-button.ant-btn-primary {
  box-shadow: 0 6px 14px var(--yo-button-shadow-color);
}
